

.tabs {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  padding: 1em;
  left: 0;
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  border-top: 1px solid black;
}

.first:hover,
.previous:hover,
.next:hover,
.last:hover {
  cursor: pointer; 
  background-color: blueviolet;
  color: white;
}
