

.tabs {
  overflow: hidden;
  background-color: salmon;
  position: fixed;
  bottom: 0;
  padding: 1em;
  left: 0;
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  border-top: 1px solid salmon;
  font-size: larger;
  font-weight: bolder;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.first:hover,
.previous:hover,
.next:hover,
.last:hover {
  cursor: pointer; 
  font-weight: bolder;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: crimson;
}
